In [ ]:
import sys
sys.path.append('../')

In [1]:
import csv
import pickle
import time

import numpy as np
import pandas as pd

from func import city_state_coord

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.options.mode.copy_on_write = True
from Cython.Build import cythonize
from geopy.distance import geodesic
from selenium import webdriver
from selenium.webdriver.common.by import By
from tqdm.notebook import tqdm as tqdmn

%load_ext Cython

In [2]:
url = 'https://www.bu.edu/brand/guidelines/editorial-style/us-state-abbreviations/'
tables = pd.read_html(url)

short_state_name =dict(zip(tables[0][0][1:],tables[0][2][1:]))
print(short_state_name)


url = 'https://www.americancities.ru/info/capital_cities/'
tables = pd.read_html(url)
capital_state = tables[0][['Почтовое сокращение','Столица штата']]
capital_state.columns = ['state','capital']
capital_state.head()

rows_to_append = [{'state':  'DC', 'capital': 'Washington'}]

capital_state = pd.concat([capital_state,pd.DataFrame(rows_to_append)],axis=0,ignore_index=True)
capital_state

{'Alabama': 'AL', 'Alaska': 'AK', 'Arkansas': 'AR', 'Arizona': 'AZ', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'District of Columbia': 'DC', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

   state         capital
0     AL      Montgomery
1     AK          Juneau
2     AZ         Phoenix
3     AR     Little Rock
4     CA      Sacramento
5     CO          Denver
6     CT        Hartford
7     DE           Dover
8     FL     Tallahassee
9     GA         Atlanta
10    HI        Honolulu
11    ID           Boise
12    IL     Springfield
13    IN    Indianapolis
14    IA      Des Moines
15    KS          Topeka
16    KY       Frankfort
17    LA     Baton Rouge
18    ME         Augusta
19    MD       Annapolis
20    MA          Boston
21    MI         Lansing
22    MN        St. Paul
23    MS         Jackson
24    MO  Jefferson City
25    MT          Helena
26    NE         Lincoln
27    NV     Carson City
28    NH         Concord
29    NJ         Trenton
30    NM        Santa Fe
31    NY          Albany
32    NC         Raleigh
33    ND        Bismarck
34    OH        Columbus
35    OK   Oklahoma City
36    OR           Salem
37    PA      Harrisburg
38    RI      Providence
39    SC        Columbia
40    SD          Pierre
41    TN       Nashville
42    TX          Austin
43    UT  Salt Lake City
44    VT      Montpelier
45    VA        Richmond
46    WA         Olympia
47    WV      Charleston
48    WI         Madison
49    WY        Cheyenne
50    DC      Washington

In [3]:
capital_state.columns = ['state', 'city']

In [4]:
capital_state = city_state_coord(capital_state)

  0%|          | 0/51 [00:00<?, ?it/s]

In [5]:
capital_state

   state            city          lat           long
0     AL      Montgomery  32.34379895    -86.2460375
1     AK          Juneau  58.38502345    -134.197786
2     AZ         Phoenix   33.6054149    -112.125051
3     AR     Little Rock    34.723749     -92.336122
4     CA      Sacramento  38.56173395     -121.46143
5     CO          Denver  39.76433895  -104.85511145
6     CT        Hartford  41.76568745   -72.68008695
7     DE           Dover   39.1564159   -75.51341995
8     FL     Tallahassee   30.4671395    -84.2568559
9     GA         Atlanta   33.7673675   -84.42013055
10    HI        Honolulu   21.3280338  -157.79907305
11    ID           Boise  43.60080605    -116.233898
12    IL     Springfield  39.76383745   -89.67083135
13    IN    Indianapolis   39.7797845      -86.13275
14    IA      Des Moines   41.5668442     -93.606516
15    KS          Topeka   39.0130545     -95.708031
16    KY       Frankfort   38.1944455    -84.8666254
17    LA     Baton Rouge    30.441474   -91.11141855
18    ME         Augusta  44.33343195   -69.73069205
19    MD       Annapolis  38.97246895   -76.50469445
20    MA          Boston  42.31434995     -70.970284
21    MI         Lansing  42.70868155    -84.5594275
22    MN        St. Paul   44.9397075    -93.1060534
23    MS         Jackson   32.3103284     -90.186998
24    MO  Jefferson City   38.5711659    -92.1624049
25    MT          Helena  46.59335795    -112.015694
26    NE         Lincoln  40.80436265   -96.68580995
27    NV     Carson City  39.16783345    -119.776327
28    NH         Concord   43.2308015   -71.56260545
29    NJ         Trenton   40.2160535    -74.7742055
30    NM        Santa Fe   35.6824934  -105.98303605
31    NY          Albany   42.6680844     -73.810681
32    NC         Raleigh  35.84376795   -78.64505595
33    ND        Bismarck  46.81631755   -100.7634965
34    OH        Columbus  39.98295145     -82.990829
35    OK   Oklahoma City  35.48264795   -97.47919745
36    OR           Salem  42.51559545    -70.8472335
37    PA      Harrisburg   40.2821445    -76.8804255
38    RI      Providence  41.81688615   -71.42118045
39    SC        Columbia  34.03750895   -80.93756495
40    SD          Pierre    44.370768   -100.3205385
41    TN       Nashville   36.1866405   -86.78524545
42    TX          Austin   30.3077609   -97.75574245
43    UT  Salt Lake City  40.77660795  -111.92048505
44    VT      Montpelier  44.27419185    -72.5687199
45    VA        Richmond  37.52466095   -77.49326145
46    WA         Olympia   47.0394865  -122.89704095
47    WV      Charleston   38.3434489   -81.64354355
48    WI         Madison   43.0849935   -89.40659215
49    WY        Cheyenne   41.1475325  -104.76740455
50    DC      Washington   38.8937545     -77.014576

In [6]:
capital_state.columns = ['state', 'capital','lat_capital', 'long_capital']

In [7]:
# Самые крупные города США
url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
tables = pd.read_html(url)
tables = tables[2]
tables.columns
print(tables)

            City  ST 2023 estimate 2020 census  Change 2020 land area          \
            City  ST 2023 estimate 2020 census  Change            mi2     km2
0    New York[c]  NY       8258035     8804190  −6.20%          300.5   778.3
1    Los Angeles  CA       3820914     3898747  −2.00%          469.5  1216.0
2        Chicago  IL       2664452     2746388  −2.98%          227.7   589.7
3        Houston  TX       2314157     2304580  +0.42%          640.4  1658.6
4        Phoenix  AZ       1650070     1608139  +2.61%          518.0  1341.6
..           ...  ..           ...         ...     ...            ...     ...
331         Yuma  AZ        100858       95548  +5.56%          120.7   312.6
332  New Bedford  MA        100695      101079  −0.38%           20.0    51.8
333   Suffolk[l]  VA        100659       94324  +6.72%          399.2  1033.9
334     Hesperia  CA        100633       99818  +0.82%           72.7   188.3
335    Davenport  IA        100354      101724  −1.35%           63.8   165.2

    2020 density                                                  Location
           / mi2  / km2                                           Location
0          29298  11312  .mw-parser-output .geo-default,.mw-parser-outp...
1           8304   3206              34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W
2          12061   4657                41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W
3           3599   1390                29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W
4           3105   1199              33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W
..           ...    ...                                                ...
331          792    306              32°31′N 114°31′W﻿ / ﻿32.52°N 114.52°W
332         5054   1951                41°40′N 70°56′W﻿ / ﻿41.66°N 70.94°W
333          236     91                36°42′N 76°38′W﻿ / ﻿36.70°N 76.63°W
334         1373    530              34°24′N 117°19′W﻿ / ﻿34.40°N 117.32°W
335         1594    615                41°34′N 90°36′W﻿ / ﻿41.56°N 90.60°W

[336 rows x 10 columns]

In [8]:
major_city = tables[['City','ST','2023 estimate', ]].copy()
major_city.columns = ['major_city','state','2023_estimate',]
major_city['major_city'] = major_city['major_city'].apply(lambda x: x.split(sep='[')[0])
major_city.columns = ['city', 'state', '2023_estimate']
major_city.head()

          city state  2023_estimate
0     New York    NY        8258035
1  Los Angeles    CA        3820914
2      Chicago    IL        2664452
3      Houston    TX        2314157
4      Phoenix    AZ        1650070

In [9]:
million_city = major_city[major_city['2023_estimate']>=10**6][['city','state']]
million_city = city_state_coord(million_city)
million_city.columns = ['million_city','state','lat_million_city','long_million_city']
million_city

  0%|          | 0/9 [00:00<?, ?it/s]

   million_city state lat_million_city long_million_city
0      New York    NY       40.6974881        -73.979681
1   Los Angeles    CA        34.020479      -118.4117325
2       Chicago    IL      41.83373295      -87.73196395
3       Houston    TX      29.81717795      -95.40129145
4       Phoenix    AZ       33.6054149       -112.125051
5  Philadelphia    PA        40.002498       -75.1180283
6   San Antonio    TX       29.4585735      -98.51437645
7     San Diego    CA       32.8245525     -117.10897845
8        Dallas    TX      32.82066455      -96.73155255

In [10]:
with open('data/mln_city.pkl', 'rb') as pkl_file:
        mln_city = pickle.load(pkl_file)
mln_city.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               9 non-null      object
 1   state              9 non-null      object
 2   lat_million_city   9 non-null      object
 3   long_million_city  9 non-null      object
dtypes: object(4)
memory usage: 360.0+ bytes

In [11]:
mask1 = major_city['2023_estimate']<=10**6
mask2 = major_city['2023_estimate']>=3*10**5
big_city = major_city[mask1&mask2][['city','state']]
big_city = city_state_coord(big_city)
big_city.columns = ['big_city','state','lat_big_city','long_big_city']
big_city

  0%|          | 0/60 [00:00<?, ?it/s]

            big_city state lat_big_city  long_big_city
9       Jacksonville    FL     30.34499    -81.6831069
10            Austin    TX   30.3077609   -97.75574245
11        Fort Worth    TX  32.80081295   -97.28931895
12          San Jose    CA   37.2959622   -121.8160962
13          Columbus    OH  39.98295145     -82.990829
14         Charlotte    NC  35.20315345   -80.83982895
15      Indianapolis    IN   39.7797845      -86.13275
16     San Francisco    CA      37.7577      -122.4376
17           Seattle    WA    47.608715  -122.33979795
18            Denver    CO  39.76433895  -104.85511145
19     Oklahoma City    OK  35.48264795   -97.47919745
20         Nashville    TN   36.1866405   -86.78524545
21        Washington    DC   38.8937545     -77.014576
22           El Paso    TX  31.81113525   -106.4245174
23         Las Vegas    NV       36.125       -115.175
24            Boston    MA  42.31434995     -70.970284
25           Detroit    MI    42.352711     -83.099205
26          Portland    OR  45.54271395   -122.6544011
27        Louisville    KY    38.188805    -85.6767705
28           Memphis    TN    35.129186    -89.9571074
29         Baltimore    MD   39.2847064   -76.62049675
30         Milwaukee    WI  43.05789145   -87.96749635
31       Albuquerque    NM   35.0824099  -106.67647945
32            Tucson    AZ     32.15591    -110.883805
33            Fresno    CA  36.78553345  -119.79456145
34        Sacramento    CA  38.56173395     -121.46143
35              Mesa    AZ  33.39549995   -111.7377676
36           Atlanta    GA   33.7673675   -84.42013055
37       Kansas City    MO    39.091919    -94.5757195
38  Colorado Springs    CO   38.8756844  -104.75835945
39             Omaha    NE  41.29185895   -96.08124855
40           Raleigh    NC  35.84376795   -78.64505595
41             Miami    FL   25.7824075   -80.22945845
42    Virginia Beach    VA  36.79566945    -76.0126285
43        Long Beach    CA  33.80020805  -118.15611495
44           Oakland    CA  37.75871755   -122.2353079
45       Minneapolis    MN    44.970697    -93.2614785
46       Bakersfield    CA  35.32103445  -119.01868695
47             Tulsa    OK   36.1523015   -95.87801045
48             Tampa    FL  27.99448255   -82.45428045
49         Arlington    TX    32.701843   -97.13541305
50           Wichita    KS  37.66460895    -97.4436402
51            Aurora    CO    39.688835  -104.68683355
52       New Orleans    LA  30.03299645   -89.88256345
53         Cleveland    OH    41.497532   -81.70585995
54          Honolulu    HI   21.3280338  -157.79907305
55           Anaheim    CA   33.8339906   -117.8454922
56         Henderson    NV  36.00839955   -115.0598635
57           Orlando    FL   28.4811732    -81.3426652
58         Lexington    KY  38.02832995   -84.47156505
59          Stockton    CA  37.97302345  -121.30187755
60         Riverside    CA  33.94601555    -117.399528
61    Corpus Christi    TX    27.700021   -97.35585445
62            Irvine    CA  33.68652175  -117.77338885
63        Cincinnati    OH  39.13634005   -84.54040145
64         Santa Ana    CA   33.7378336   -117.8871477
65            Newark    NJ  40.73128345    -74.1820554
66        Saint Paul    MN   44.9397075    -93.1060534
67        Pittsburgh    PA  40.43136845    -79.9805005
68        Greensboro    NC  36.10025945   -79.83337845

In [12]:
mask1 = major_city['2023_estimate']>=10**5
mask2 = major_city['2023_estimate']<=3*10**5
large_city = major_city[mask1&mask2][['city','state']]
large_city = city_state_coord(large_city)
large_city.columns = ['large_city','state','lat_large_ctiy','long_large_ctiy']
large_city

  0%|          | 0/267 [00:00<?, ?it/s]

      large_city state lat_large_ctiy long_large_ctiy
69        Durham    NC     36.0018269      -78.884911
70       Lincoln    NE    40.80436265    -96.68580995
71   Jersey City    NJ     40.7152445    -74.06873095
72         Plano    TX      33.061262     -96.7366254
73     Anchorage    AK    61.10886445    -149.4403109
..           ...   ...            ...             ...
331         Yuma    AZ    32.60568045     -114.572058
332  New Bedford    MA     41.6637935    -70.92791595
333      Suffolk    VA     36.7461174     -76.6652514
334     Hesperia    CA    34.38784095   -117.33865995
335    Davenport    IA    41.54108595     -90.5889795

[267 rows x 4 columns]

In [13]:
# сохранение
# Производим сериализацию и записываем результат в файл формата pkl
with open('data/capital_state.pkl', 'wb') as output:
    pickle.dump(capital_state, output)


capital_state.to_csv('data/capital_state.csv',index_label=False)

with open('data/lg_city.pkl', 'wb') as output:
    pickle.dump(large_city, output)


large_city.to_csv('data/lg_city.csv', index_label=False)

with open('data/bg_city.pkl', 'wb') as output:
    pickle.dump(big_city, output)


big_city.to_csv('data/bg_city.csv', index_label=False)

with open('data/mln_city.pkl', 'wb') as output:
    pickle.dump(million_city, output)


million_city.to_csv('data/mln_city.csv', index_label=False)